:root {
  --border: 1px solid #90919152;
  --color-primary: #0859bc;
  --color-secondary: #909191;
  --color-accent: #154b67;
  --color-bg-light: #f5fcff;
  --color-personal-lbl: #0e8b3e;
  --bg-personal-lbl: #0e8b3e4b;
  --color-project-lbl: #d6af15;
  --bg-project-lbl: #c9c3094f;
  --font-main: "DM Sans", sans-serif;
  --btn-padding: 0.500rem 1rem;
  --btn-radius: 0.625rem;
  --p-selectbutton-border-radius: 0px;
}

body {
  font-family: var(--font-main);
  height: 100vh;
  background-color: #fff;

}

h1 {
  margin: 0 6.25rem 0 1rem;
  color: var(--color-accent);
  font-size: 1.875rem;
}

.flex {
  display: flex;
  align-items: center;
}

.text-primary {
  color: var(--color-primary);
}


.personal {
  color: var(--color-personal-lbl);
  background-color: var(--bg-personal-lbl);
}

.project {
  color: var(--color-project-lbl);
  background-color: var(--bg-project-lbl);
}

.other {
  color: #0859bca0;
  background-color: var(--color-primary);
}


.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.personal {
  color: var(--color-personal-lbl);
  background-color: var(--bg-personal-lbl);
}

.project {
  color: var(--color-project-lbl);
  background-color: var(--bg-project-lbl);
}


#notepanel,
#note-list {
  min-width: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  /* CRÍTICO */
}

#app {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: var(--font-main);
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  /* Añade esto */
}